<%- include("partials/loginheader") -%>



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Capacity</th>
      <th scope="col">Delivery Date</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<data.length; i++) { %>
    <tr>
      <td><%= data[i].email %></td>
      <td><%= name %></td>
      <td><%= data[i].address %></td>
      <td><%= data[i].capacity %></td>
      <td><%= data[i].date %></td>
    </tr>
    <% } %>

  </tbody>
</table>






<%- include("partials/footer") -%>
